project:
  type: website
  render:
    - "*.qmd"
  output-dir: _site
  post-render:
    - scripts/build/optimize.ts # minify files rendered by quarto to reduce file size

website:
  favicon: images/atlas-icon.svg
  site-url: https://adaptationatlas.github.io/atlas_notebooks/
  search: false
  navbar:
    logo: images/atlas-logo.svg
    logo-href: https://adaptationatlas.cgiar.org
    logo-alt: "The Africa Agriculture Adaptation Atlas"
    right:
      - icon: bi-info-circle
        text: "Documentation"
        href: docs/doc_index.qmd
        aria-label: "More Information"
      - text: "Report an Issue"
        href: https://github.com/AdaptationAtlas/atlas_notebooks/issues/new
      - icon: github
        href: https://github.com/AdaptationAtlas/atlas_notebooks
        aria-label: "GitHub"

format:
  html:
    theme:
      - cosmo
    css: styles/main.css
    grid:
      body-width: 1180px
    toc: false # complex/not useful with how we handle translations
    anchor-sections: false # remove section link hovers

resources:
  - data/
  - helpers/
  - images/
  - "notebooks.json"

execute:
  echo: false # don't show code unless explicitly requested

filters:
  - "scripts/build/csv2json.lua" # lua filter to convert files on render
