/*-- scss:defaults --*/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

$font-family-sans-serif: "IBM Plex Sans", system-ui, -apple-system, "Segoe UI", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-sans-serif;
