@import url("toc.css");
@import url("observable-inputs.css");

/* hides error messages - good for Production, bad for development */
/* .observablehq--error {
  display: none;
} */

/* Main Styling */

:root {
  --atlasGreen: #2E7636;
  --atlasOrange: #D66B44;
  --atlasGold: #D4A017;
  --atlasDarkGray: #4a5568;
  --atlasLightGray: #C9C9C9;
}

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.cell-output, .cell-output-display {
  overflow: visible !important;
}

figure {
  padding-top: 20px;
}

/* body text and headings */
body {
  line-height: 1.6;
  font-size: 1.25rem;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h1.title {
  text-align: center;
  font-size: 2.25em;
}

h2.key-insights {
  text-align: center;
  padding: 1.5em;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: 600;
}

.navbar-logo {
  max-height: 4rem;
}

.nav-item {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-left: 10px;
}

/* Style links */
main a[href] {
  color: var(--atlasGreen);
  text-decoration: none;
}

a[href]:hover,
a[href]:active {
  color: var(--atlasGreen);
  text-decoration: underline;
}

.hero_image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  overflow: hidden;
}

/* Print Styles */

@media print {
  #source-code,
  .observablehq button,
  .floating-toc {
    display: none !important;
  }
}
